<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Gulab Jamun</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <meta name = "viewport" content="width=device=width, initial-scale=1">
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <nav class="navbar-light" style="background-color: #e3f2fd;">
            <div class="container fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Gulab Jamun</a>
                </div>
                    <ul class = "nav navbar-nav">
                        <li><a href="Main.html">Main Page</a></li>
                        <li><a href="RecipeBook.html">RecipeBook</a></li>
                        <li><a href="wing.html">Wings</a></li>
                        <li><a href="Makhrouds.html">Makhrouds</a></li>
                        <li><a href="EggSauce.html">EggSauce</a></li>
                        <li><a href="Injera.html">Injera</a></li>
                        <li><a href="CreateCrabby.html">Crabcake</a></li>
                        <li><a href="GulabJamun.html">GulabJamun</a> </li>
                        <li><a href="Gallery.html">Gallery</a></li>
                        <!--<li><a>Recipe List</a></li>
                        <!--<li><a>Recipe three</a></li>-->
                    </ul>
                <ul></ul>
            </div>
        </nav>
    </div>
</nav>
<!--section1-->
<div class="container">

    <p><h3>India <img class="standardimage1 "src="https://upload.wikimedia.org/wikipedia/commons/4/41/Flag_of_India.svg"> </h3>
    <h3 class="shrikhand">Gulab Jamun</h3>
    <div class="col-md-12">
        <div class="col-md-12"></div>
        <div class="cold-md-8">
        </div>
    </div>

    <div class="row">
        <div class="col-md-14">
            <img class="standardimage img-thumbnail"src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Gulab-jamun-wallpaper-1.jpg" alt="Lights" style="width:25%">
            <h2>Ingredients</h2>
            <ul>
            <li>1 cup dry milk powder</li>
            <li>3 tablespoons all-purpose flour</li>
            <li>2 tablespoons ghee (clarified butter), melted</li>
            <li>1/2 teaspoon baking powder</li>
            <li>1/2 cup warm milk</li>
            <li>1 tablespoon chopped almonds (optional)</li>
            <li>1 tablespoon chopped pistachio nuts (optional)</li>
            <li>1 tablespoon golden raisins (optional)</li>
            <li>1 pinch ground cardamom</li>
            <li> 1 quart vegetable oil for deep frying</li>
            <li>1 1/4 cups white sugar</li>
            <li>7 fluid ounces water</li>
            <li>1 teaspoon rose water</li>
            <li>1 pinch ground cardamom</li>
            </ul>
            <h2>Directions</h2>
            <p>In a large bowl, stir together the milk powder, flour, baking powder, and cardamom. Stir in the almonds, pistachios and golden raisins. Mix in the melted ghee, then pour in the milk, and continue to mix until well blended. Cover and let rest for 20 minutes.</p>
            <p>In a large skillet, stir together the sugar, water, rose water and a pinch of cardamom. Bring to a boil, and simmer for just a minute. Set aside.</p>
            <p>Fill a large heavy skillet halfway with oil. Heat over medium heat for at least 5 minutes. Knead the dough, and form into about 20 small balls. Reduce the heat of the oil to low, and fry the balls in one or two batches. After about 5 minutes, they will start to float, and expand to twice their original size, but the color will not change much. After the jamun float, increase the heat to medium, and turn them frequently until light golden. Remove from the oil to paper towels using a slotted spoon, and allow to cool. Drain on paper towels and allow to cool slightly.</p>
            <p>Place the balls into the skillet with the syrup. Simmer over medium heat for about 5 minutes, squeezing them gently to soak up the syrup. Serve immediately, or chill.</p>

        </div>
    </div>
</div>
<!--<img src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Food_crabcakes_dinner.jpg">-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>