<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Mahrouds</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <meta name = "viewport" content="width=device=width, initial-scale=1">
    <link rel="stylesheet" href="stylesheet.css">
</head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Makhrouds</a>
            </div>
            <nav class="navbar-light" style="background-color: #e3f2fd;">
                <div class="container fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">Crabcake</a>
                    </div>
                    <ul class = "nav navbar-nav">
                        <li><a href="Main.html">Main Page</a></li>
                        <li><a href="RecipeBook.html">RecipeBook</a></li>
                        <li><a href="wing.html">Wings</a></li>
                        <li><a href="Makhrouds.html">Makhrouds</a></li>
                        <li><a href="EggSauce.html">EggSauce</a></li>
                        <li><a href="Injera.html">Injera</a></li>
                        <li><a href="CreateCrabby.html">Crabcake</a></li>
                        <li><a href="GulabJamun.html">GulabJamun</a> </li>
                        <li><a href="Gallery.html">Gallery</a></li>
                        <!--<li><a>Recipe List</a></li>
                        <!--<li><a>Recipe three</a></li>-->
                    </ul>
                    <ul></ul>
                </div>
            </nav>
        </div>
    </nav>
<!--section1-->

    <!--<h3><p>Tunisia <img class="standardimage1 img-thumbnail"  src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Flag_of_Tunisia.svg"> </P></h3>-->
<!--<h3><p>Algeria <img class="standardimage1 img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_Algeria.svg"> </p></h3>-->

<div class="container">
    <p><h3>Tunisia <img class="standardimage1 img-thumbnail"  src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Flag_of_Tunisia.svg"> </h3>
    <p><h3>Algeria <img class="standardimage1 img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/7/77/Flag_of_Algeria.svg"> </h3>

    <h3 class="shrikhand">Makhrouds</h3>
    <div class="col-md-12">
        <div class="col-md-12"></div>
        <div class="cold-md-8">
        </div>
    </div>
    <div class="row">
        <div class="col-md-14">

            <img class="standardimage3 img-thumbnail"src="http://www.globeholidays.net/Africa/Tunisia/Media/Kairouan_Makroud.jpg" align="left"
                 alt="makhrouds"/>
            <h2>Ingredients</h2>
            <ul>
                <li>Sugar</li>
                <li>500 g</li>
                <li>Lemon juice</li>
                <li>1/2 lemon</li>
                <li>Semolina</li>
                <li> 500 g</li>
                <li>Flour</li>
                <li>250 g</li>
                <li>Butter</li>
                <li>125 g, salted</li>
                <li>Olive oil</li>
                <li>100 ml, and oil for deep frying</li>
                <li>Date paste</li>
                <li>250 g</li>
            </ul>
            <h2>Directions</h2>
<p>Put the sugar in a pan with the lemon juice and 250 ml of water.</p>
<p>Bring to the boil and simmer over a low heat for around 10 minutes until thick and syrupy. Remove from the heat.</p>
<p>In a bowl, mix together the semolina and flour.</p>
<p>Melt the butter and add to the dry ingredients, together with the oil.</p>
<p>Mix together until homogeneous. Add a little more oil if necessary.</p>
<p>Stir in boiling water, a tablespoonful at a time, until you have a smooth dough.</p>
<p>Shape the dough into strands 3-4 cm thick and make a depression along the centre.</p>
<p>Spoon the date paste into the depression and wrap the dough around it so that it encloses the paste.</p>
<p> Flatten slightly and score in a diamond pattern.</p>
<p>Cut into approx. 4 cm lengths and fry in the hot oil until crispy.</p>
<p>Drain briefly on kitchen paper and transfer to the sugar syrup.</p>
<p>Take out of the syrup to serve, and arrange in small cake cases, for example.</p>

            <p><h3>Serves 6 people</h3>
        </div>
    </div>
</div>
<!--<img src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Food_crabcakes_dinner.jpg">-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>